@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    bobox-sizing: border-box;
}

/* --- VARIÁVEIS DO TEMA --- */
:root {
    --fundo-principal: #f7f9fc;
    --fundo-lateral: #0c1125;
    --card: #ffffff;
    --texto: #212121;
    --texto-inverso: #6f6f6f;

    --primaria: #24A148;
    --radius: 10px;
}